@import "../less/variables.less";
@import "../less/mixins.less";

/*
Colors: 
-- Yellows -----
Mustard: #E9B000;
Gold Leaf: #d9b310;
Golden: #f9be02;

-- Blues -----
Light Blue: #698d9d
Prussian Blue: #0B3C5D;
Summer Sky: #286da8;
Cerulean: #4484CE;
Teal: #3d485f

Papaya: #E24E42;
Peach: #ffe680;
Salmon: #fa7c92;

-- Purples ---
Grape: #94618e;
Amythyst: #685682;
Stormy: #494e6b;
Teal: #056571;
*Bluebell: #155765;
Blue: #02558b;
*/

:root{
    --page-background-color: #f4f4f4;

    --content-body-color: #ffffff;
    --content-shadow-color: #698d9d;

    --sidebar-color: #4484CE;
    --sidebar-hover-color: #ffffff;
    --sidebar-selected-color: #02558b;
    --sidebar-shadow-color: #0B3C5D;

    --sidebar-item-color: #d9d9d9;
    --sidebar-item-hover: #ffffff;
    --sidebar-item-selected: #ffffff;

    --sidebar-icon-color: #d9d9d9;
    --sidebar-icon-hover: #ffffff;
    --sidebar-icon-selected: #ffffff;

    --navbar-color: #4484CE;
    --navbar-brand-color: #ffe680;

    --header-color: #4ABDAC;
    --header-line-color: #d9d9d9;
}

body {
    background-color: var(--page-background-color);
    /* background-image: url("../images/stationerybg-light.jpg");
    background-repeat: repeat; */
    width: 100%;
    overflow-y: scroll;
}

h1.wailord {
    color: #ffffff;
    /* text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit; */
    text-shadow: 2px 5px 10px #000000;
}

/* Icons */
#stapler
{
    width: 64px;
    height: 32px;
    -webkit-filter: drop-shadow(1px 1px 2px #0B3C5D);
    filter:         drop-shadow(1px 1px 2px #0B3C5D);
}

.header{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color: var(--header-color);
    /* text-align: center; */
    margin-top: 80px;
    margin-left: 150px;
    /* margin-right: 1625px; 
    background-color: var(--content-body-color); */
}

hr{
    border-color: var(--header-line-color);
    margin: 0px 0 15px 0;
}

/* The main content */
.content-box {
    height: 100%;
    margin-top: 5px;
    margin-left: 150px;
    margin-right: 30px;

    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 10px;

    /* background-color: var(--content-body-color); */
    /* box-shadow: 0px 0px 3px 1px var(--content-shadow-color); */
}

/* The left sidebar */
.sidebar-left {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--sidebar-color); /* sidebar */
    margin-top: 65px;
    width: 120px;
    height: 100%;
    /* box-shadow: inset -10px 0px 20px -20px #000000; */
    box-shadow: 1px 0px 5px 1px var(--sidebar-shadow-color);
}

/*
.sidebar-left a.company-logo {
    display: block;
    text-decoration: none;
    font-family: Open Sans, cursive;
    width: 76px;
    height: 76px;
    margin: 5% auto;
    text-align: center;
    color:  #ffffff;
    font-size: 28px;
    font-weight: normal;
    line-height: 2.6;
    border-radius: 50%;
    background-color:  #181a1b;
    outline: none;
}
*/

.sidebar-left .sidebar-links {
    /* margin: 20px auto; */
}

/* Sidebar icons and text default */
.sidebar-left .sidebar-links a {
    display: block;
    text-decoration: none;
    margin: 0 auto 5px auto;
    padding: 15px 0;
    text-align: center;
    color: var(--sidebar-item-color);; /* sidebox text color */
    font-size: 18px;
    border-left-width: 0px;
    border-left-style: solid;
    height: 100px;
    outline: none;
    /* box-shadow: inset -10px 0px 20px -20px #000000; */
    transition:background 0.5s;
}

/* Sidebar text and icons css when hovered */
.sidebar-left .sidebar-links a:hover {
    color: var(--sidebar-item-hover);
}

/* Sidebar text and icons when selected */
.sidebar-left .sidebar-links a.selected{
    background-color: var(--sidebar-selected-color);
    color: var(--sidebar-item-selected);
    font-size: 18px;
    cursor: default;
    outline: none;
    box-shadow: inset 0px 0px 0px 0px #000000;
}

/* This is for the triangle */
.sidebar-left .sidebar-links a.selected:before{
    content: " ";
    z-index: -1;
    position: absolute;
    width: 0; 
    height: 0; 
    margin-top: 15px;
    left: 120px;
    border: 20px solid transparent;
    border-left: 20px solid var(--sidebar-selected-color);

    /*
    -webkit-filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.25));
    -moz-filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.25));
    -ms-filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.25));
    -o-filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.25));
    filter: drop-shadow(0px 5px 6px rgba(0,0,0,0));
    */
}

/* Sidebar icons css */
.sidebar-left .sidebar-links a i.fa {
    display: block;
    font-size: 35px;
    margin-bottom: 5px;
}


/* Link Colors */

/* Stats icon*/
/*
.sidebar-left .sidebar-links a.link-errorslue {
    border-color: #ffffff;
}
*/

/* Stats icon color */
/*
.sidebar-left .sidebar-links a.link-errorslue i.fa {
    color: #ffffff;
}
*/

/* Making the sidebar responsive */

@media (max-width: 900px) {

    .main-content{
        max-width: none;
        padding: 40px 20px;
        margin: 0 0 40px;
    }

    .sidebar-left {
        width: auto;
        height: 10px;
        position: inherit;
        padding: 10px 0 0;
    }

    .sidebar-left .sidebar-links {
        text-align: center;
        height: 15px;
        margin: 0;
    }

    .sidebar-left .sidebar-links a {
        display: inline-block;
        margin: 0;
        padding: 0;
        /*
        border-left: none;
        border-top-width: 2px;
        border-top-style: solid;
        */
    }

    /* This is for the triangle */
    .sidebar-left .sidebar-links a.selected:before{
        content: " ";
        z-index: -1;
        position: absolute;
        width: 0; 
        height: 0; 
        margin-top: 0px;
        left:120px;
        border: 30px solid transparent;
        border-top: 30px solid var(--sidebar-selected-color);

        /*
        -webkit-filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.25));
        -moz-filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.25));
        -ms-filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.25));
        -o-filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.25));
        filter: drop-shadow(0px 5px 6px rgba(0,0,0,0));
        */
    }

}

/* Mobile phone layout */

@media (max-width: 450px) {

    .sidebar-left {
        padding: 20px 0;
    }

    .sidebar-left .sidebar-links {
        text-align: center;
        margin: 20px auto 0;
    }

    .sidebar-left .sidebar-links a {
        display: block;
        max-width: 240px;
        width: auto;
        vertical-align: middle;
        text-align: left;
        margin: 0 auto 5px;
        padding: 10px 25px;
        border-top: none;
        border-left-width: 2px;
        border-left-style: solid;
    }

    .sidebar-left .sidebar-links a i.fa {
        display: inline-block;
        font-size: 20px;
        width: 20px;
        margin: 0 20px 0 0;
        vertical-align: middle;
    }

}

/*  Removing margins and paddings from the body, so that
    the sidebar takes the full height of the page */

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 60px solid green;
}

/* Nav bar */

/* Navbar top dimensions */
.container {
    width: 100%;
}

/* http://antjanus.com/blog/uncategorized/make-bootstrap-3-theme-proper-way/ */
.navbar {
  min-height: 40px;
  box-shadow: 0px 0px 11px 2px #0B3C5D;
}

.navbar-default {
    background: var(--navbar-color);
    /* background-image: url("../images/officesupplies.jpg"); */
    background-position: center;
    border: 0;
    margin-bottom: 0;
    padding-top: 5px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    outline: none;
}

.navbar-default .navbar-brand:hover {
    color: var(--navbar-brand-color);
    outline: none;
}

.nav.navbar-nav.navbar-right {
    margin-right: 10px;
}

/* Navbar right links */
.nav.navbar-nav.navbar-right li a{
    color: var(--sidebar-icon-color);
    outline: none;
}

.nav.navbar-nav.navbar-right li a:hover {
    color: var(--sidebar-icon-hover);
}

/*
.nav-pills > li {
  background: @black;

  a{
    padding: 10px;
  }
}

.nav.nav-pills.navbar-right {
    margin-right: 10px;
}

Navbar right pills
.nav.nav-pills.navbar-right li {
    background-color: #0B3C5D;
}

Navbar right links
.nav.nav-pills.navbar-right li a {
    background-color: #0B3C5D;
    color: #ffffff;
    outline: none;
}

Navbar right links hover
.nav.nav-pills.navbar-right li a:hover {
    background-color: #000000;
    color: #ffffff;
    outline: none;
}
*/