@import "compass/css3";
:root
{
	--searchbar-color: #29b6f6; /* Rain */
	--searchbar-hover-color: #4484CE; /* Cerulean */
}

.result-box {
	margin-top: 20px;
	background-color: transparent;
	height: 100%;
	width: 95%;
	margin-left: auto ;
	margin-right: auto ;
}

#table-column-elements {
	font-family: 'Quicksand';
	font-weight: normal;
	color: #4484CE;
}

#table-row-elements {
	font-family: 'Roboto', sans-serif;
	color: #42a5f5;
}

h1 {
	text-align: center;
}

/* Results header */
h2 {
	text-align: center;
	color: #4484CE;
}

hr {
	margin:10px -50px;
	border:0;
	border-top:1px solid #ccc
}

/* start popup box stuff */
h3 {
	background-color: white;
	padding:10px 10px;
	margin:-10px -50px;
	text-align:center;
	border-radius:20px 20px 0 0;
}

/* filter box */
#abc {
	width:100%;
	height:100%;
	opacity:.95;
	top:0;
	left:0;
	display:none;
	position:fixed;
	background-color:#313131;
	z-index: 2;
	overflow: auto;
}

#filter-div {
	float:left;
	margin-right: 5px;
}

/* filter button */
#filter-button
{
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: #29b6f6;
	outline: none;
	margin-left: 250px;
	margin-bottom: -80px;
	cursor: pointer;
}

#filter-button:hover {
	color: #4484CE;
}

/* filter close button */
#close {
	text-align: center;
	color: #29b6f6;
	border: 0;
	background: none;
	background-color: transparent;
	outline: none;
	box-shadow: none;
	margin-left:99%;
	top:-5px;
	cursor:pointer
}

#close:hover {
	color: #4484CE; 
}

#popupContact {
	position:absolute;
	left:50%;
	top:17%;
	font-family:'Open Sans', sans-serif;
}

#filter-form {
	height: 700px;
	width: 450px;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 4%;
	padding:10px 50px;
	border-radius:20px;
	font-family: 'Raleway';
	background-color:#fff;
}

.input-name {
	margin-top:30px;
	margin-left: 8%;
}

input[type=text] {
	width:80%;
	margin-left: 8%;
	margin-top: 5px;
	border:1px solid #ccc;
	border-radius: 10px;
	padding-left:10px;
	font-size:16px;
}

#add-filter-btn {
	margin-left: 32%;
	margin-top: -45px;
	border-width: 3px;
	border-radius: 20px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	border-color: #29b6f6;
	color: #29b6f6;;
	background: none;
	background-color: transparent;
	outline: none;
	box-shadow: none;
}

#add-filter-btn:hover {
	color: #4484CE;
}

/* Search bar */
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
	width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
	padding: 0 25% 0 25%; /* Padding for other horizontal elements */
}

.flexsearch--input {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 60px;
	padding: 0 46px 0 20px;
	border-color: var(--searchbar-color);
	border-radius: 35px; /* (height/2) + border-width */
	border-style: solid;
	border-width: 5px;
	margin-top: 15px;
	color: var(--searchbar-hover-color);
	font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
	position: absolute;
	right: 70px;
	top: -5px;
	display: block;
	width: 60px;
	height: 60px;
	padding: 0;
	border: none;
	margin-top: 20px; /* margin-top + border-width */
	margin-right: 5px; /* border-width */
	background: transparent;
	color: var(--searchbar-color); /* arrow color */
	font-family: 'Helvetica', sans-serif;
	font-size: 40px;
	line-height: 60px;
	}

.flexsearch--input:focus {
	outline: none;
	border-color: var(--searchbar-hover-color);
}

.flexsearch--input:focus.flexsearch--submit {
 	color: var(--searchbar-hover-color); 
}

.flexsearch--submit:hover {
	color: var(--searchbar-hover-color);
	cursor: pointer;
}

::-webkit-input-placeholder {
	color: var(--searchbar-color);  
}

input:-moz-placeholder {
	color: var(--searchbar-color)
}
