@import "../less/variables.less";
@import "../less/mixins.less";

 /* CSS Document */
/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
/* icons */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* login stuff */
@import "reset.css";

/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
*:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

hr{
  width: 10%;
  border-color: black;
}

h1.title { 
  font-size: 50px;
  font-family: 'Passion One', cursive; 
  font-weight: 400; 
  color: black;
  padding-bottom: 15px;
}

body {
  background: #ffffff url("../images/office.jpg") no-repeat fixed;
  background-position: right bottom;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
  overflow-y:auto !important;
  overflow-x:hidden !important;
}

a {
  color: #328CC1; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.fontawesome-arrow-right {
  color: #328CC1;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.container-outside {
  margin-top: 15%;
  margin-left: auto;
  margin-right:auto;
  width: 1170px;
}

.container {
  margin-top: 30px;
  padding-top: 20px;
  width: 310px;
  height: 320px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}


/* ---------- LOGIN ---------- */
#login {
  width: 280px;
  color: black; /* Not a member text? */
}

#login form span {
  background-color: #e0e0e0;
  border-radius: 3px 0px 0px 3px;
  border-color: #328CC1;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .8);
  color: #606468; /* icon */
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input {
  height: 50px;
}

#login form input[type="text"], input[type="password"] {
  background-color: white;
  border-color: #328CC1;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  border-radius: 0px 3px 3px 0px;
  color: #939393; /* input */
  margin-bottom: 1em;
  padding: 0 16px;
  width: 230px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ea4c88;
  color: #eee; /* submit */
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
}

#login form input[type="submit"]:hover {
  background-color: #d44179;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}

#signup 
{
  color: #4484CE;
  font-weight: ;
}

#signup:hover
{
  color: blue;
  text-decoration: underline;
}
