{% load staticfiles %}

<!DOCTYPE html> 
<html>
    <head>
        <title>{% block title %}Stationerry{% endblock %}</title>
        <link rel="shortcut icon" href="{%  static 'images/stapler.svg' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <!-- Allow extra style sheets to go here -->
        {% block extra-styles %}

        {% endblock %}

        {% block fonts %}
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        {% endblock %}

        {% block extra-fonts %}

        {% endblock %}

    </head>
    <body>

        <div class="header">
            {% block header %}
            Menu Title
            {% endblock %}
        </div>

        <hr> 

    <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="{% url 'dashboard' %}">Stationerry</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">

              <ul class="nav navbar-nav navbar-right">
                <li role="presentation"><a href="{% url 'account' %}"><i class="fa fa-user fa-2x"></i></a></li>
                <li role="presentation"><a href="#notifications"><i class="fa fa-bell fa-2x"></i></a></li>
                <li role="presentation"><a href="#mail"><i class="fa fa-envelope fa-2x"></i></a></li>
                <li role="presentation"><a href="{% url 'info' %}"><i class="fa fa-question-circle-o fa-2x"></i></a></li>
                <li role="presentation"><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-2x"></i></a></li>

            <!-- Drop down -->
                <!-- li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>

                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li -->

                <!-- drop down-->

              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

    	<div>
            <aside class="sidebar-left">

                <!-- a class="company-logo" href="#">Logo</a -->

                <div class="sidebar-links">

                    {% block link-dash %} <a class="link-dash" href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>Dashboard</a> {% endblock %}
                    {% block link-errors %} <a class="link-errors" href="{% url 'errors' %}"><i class="fa fa-search"></i>Errors</a> {% endblock %}
                    {% block link-projects %} <a class="link-projects" href="{% url 'projects' %}"><i class="fa fa-paperclip"></i>Stations</a> {% endblock %}
                    {% block link-todo %} <a class="link-todo" href="#todo"><i class="fa fa-thumb-tack"></i>Todo</a> {% endblock %}

                </div>

            </aside>
        </div>

        <div class="content-box">

            {% block content %}
            <h1 class="wailord">Hail Wailord</h1>
            <img src="{% static 'images/leapingwailord.gif' %}">
            {% endblock %}
        </div>
        <!-- Latest compiled and minifired Javascript -->

        {% block scripts %}
        <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>	
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        
        <script>

            // Selected effect for sidebar 
            $(function () {

                var links = $('.sidebar-links > a');

                links.on('click', function () {

                    links.removeClass('selected');
                    $(this).addClass('selected');

                })
            });

        </script>

        {% endblock %}

        {% block extra-scripts %}

        {% endblock %}

    </body>
</html>