{% extends "stationerry/base.html" %}

{% block extra-styles %} 
<link rel="stylesheet" href="/static/css/dashboard.css"> 
{% endblock %}

{% block link-dash %} <a class="link-dash selected" href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>Dashboard</a> {% endblock %}

{% block header %} Dashboard {% endblock %}

{% block content %}

<div class="row1">
	<div class="r1-box1">
		<div class="r1-box-numbers">1337</div>
		<div class="r1-box-text">New Errors</div>
		<div class="r1-box-icons"><span class="glyphicon glyphicon-time" id="r1-icons"></span></div>
		<div class="r1-box-line"></div>
	</div>

	<div class="r1-box2">
		<div class="r1-box-numbers">123</div>
		<div class="r1-box-text">Unique Errors</div>
		<div class="r1-box-icons"><span class="glyphicon glyphicon-star" id="r1-icons"></div>
		<div class="r1-box-line"></div>
	</div>

	<div class="r1-box3">
		<div class="r1-box-numbers">4</div>
		<div class="r1-box-text">Total Errors</div>
		<div class="r1-box-icons"><span class="glyphicon glyphicon-globe" id="r1-icons"></div>
		<div class="r1-box-line"></div>
	</div>

	<div class="r1-box4">
		<div class="r1-box-numbers">0</div>
		<div class="r1-box-text">Warnings</div>
		<div class="r1-box-icons"><span class="glyphicon glyphicon-alert" id="r1-icons"></div>
		<div class="r1-box-line"></div>
	</div>
</div>

{% endblock %}
