{% extends "stationerry/base.html" %}

{% block extra-styles %} 
<link rel="stylesheet" href="/static/css/dashboard.css"> 
{% endblock %}

{% block link-dash %} <a class="link-dash selected" href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>Dashboard</a> {% endblock %}

{% block header %} Dashboard {% endblock %}

{% block content %}

<div class="row1">
	<div class="r1-box1">
		<div class="r1-box-numbers">1337</div>
		<div class="r1-box-text">New Errors</div>
		<div class="r1-box-icons"><span class="glyphicon glyphicon-time" id="r1-icons"></span></div>
		<div class="r1-box-line"></div>
	</div>

	<div class="r1-box2">
		<div class="r1-box-numbers">123</div>
		<div class="r1-box-text">Unique Errors</div>
		<div class="r1-box-icons"><span class="glyphicon glyphicon-star" id="r1-icons"></div>
		<div class="r1-box-line"></div>
	</div>

	<div class="r1-box3">
		<div class="r1-box-numbers">4</div>
		<div class="r1-box-text">Total Errors</div>
		<div class="r1-box-icons"><span class="glyphicon glyphicon-globe" id="r1-icons"></div>
		<div class="r1-box-line"></div>
	</div>

	<div class="r1-box4">
		<div class="r1-box-numbers">0</div>
		<div class="r1-box-text">Warnings</div>
		<div class="r1-box-icons"><span class="glyphicon glyphicon-alert" id="r1-icons"></div>
		<div class="r1-box-line"></div>
	</div>
</div>

<div class="row2">
	<!-- Line Chart: Time vs Number of Errors -->
	<div class="r2-box1">
    <div class="r2-box1-text">Weekly Errors</div>
		<div id="weekly-errors-chart"></div>
	</div> 

	<!-- Pie Chart: Top 5 Common Errors-->
	<div class="r2-box2">
    <div class="r2-box1-text">Top 5 Common Errors</div>
    <div id="top5-chart"></div>
  </div>
</div>

{% endblock %}

{% block extra-scripts %} 

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {packages: ['corechart']});
  google.charts.setOnLoadCallback(drawWeeklyChart);
  google.charts.setOnLoadCallback(drawPieChart);

    function drawWeeklyChart() {
      var data = google.visualization.arrayToDataTable([
            ['Day', 'Number of Errors'],
            ['Sun',  54],
            ['Mon',  3],
            ['Tue',  13],
            ['Wed',  22],
            ['Thur',  5],
            ['Fri',  1],
            ['Sat',  0]
      ]);

      var options = {
            vAxis: { baselineColor: '#FFFFFF', textStyle:{color: 'white'}, gridlines: {color: 'transparent'}, viewWindow: {min: 0}},
            hAxis: {textStyle:{color: 'white'}},
            width: 750,
            height: 300,
            series: { 0: {color: 'white'}},
            lineWidth: 2,
            backgroundColor: 'none',
            curveType: 'function',
            fontName: 'Open Sans',
            fontSize: 20,
            fontColor: 'white',
            pointShape: 'circle',
            pointSize: 8,
            legend: { position: 'none' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('weekly-errors-chart'));
        chart.draw(data, options);
    } // end of draw weekly chart

    function drawPieChart() {
      var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
          is3D: false,
          fontSize: 20,
          fontName: 'Open Sans',
          backgroundColor: 'none',
          tooltip: {showColorCode: true},
          legend: { position: 'right', alignment: 'center', textStyle: {color: 'white', fontSize: 20}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('top5-chart'));
        chart.draw(data, options);

    }

</script>
<!--
<script src="/static/js/Chart.js"></script> 
<script>

	var ctx = document.getElementById("WeeklyErrorsChart");
	var data = 
	{
    	labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
    	datasets: [
        {
            label: "Daily Errors",
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "rgba(255,99,132,1)",
            borderWidth: 1,
            scaleFontFamily : "'Open Sans'",
            /*tension: 0, */
            hoverBackgroundColor: "rgba(255,99,132,0.4)",
            hoverBorderColor: "rgba(255,99,132,1)",
            data: [65, 59, 80, 81, 56, 55, 40],
        }]
	};

	var options = {
		scaleFontColor: "#FFFFFF",
		scales: {
			/* yAxes:[{ gridLines: {display: false }}],
			xAxes: [{ gridLines: {display: false }}] */
		}
	};

	var myChart = new Chart(ctx, { type: 'line', data, options});

</script>
-->
{% endblock %}
