{% extends "stationerry/base.html" %}

{% block extra-styles %} 
<link rel="stylesheet" href="/static/css/dashboard.css"> 
{% endblock %}

{% block link-dash %} <a class="link-dash selected" href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>Dashboard</a> {% endblock %}

{% block header %} Dashboard {% endblock %}

{% block content %}

<div class="row1">
	<div class="r1-box1">
		<div class="r1-box-numbers">{{todayErrors}}</div>
		<div class="r1-box-text">New Errors</div>
		<div class="r1-box-icons"><span class="glyphicon glyphicon-time" id="r1-icons"></span></div>
		<div class="r1-box-line"></div>
	</div>

	<div class="r1-box2">
		<div class="r1-box-numbers">{{uniqueErrors}}</div>
		<div class="r1-box-text">Unique Errors</div>
		<div class="r1-box-icons"><span class="glyphicon glyphicon-star" id="r1-icons"></div>
		<div class="r1-box-line"></div>
	</div>

	<div class="r1-box3">
		<div class="r1-box-numbers">{{totalErrors}}</div>
		<div class="r1-box-text">Total Errors</div>
		<div class="r1-box-icons"><span class="glyphicon glyphicon-globe" id="r1-icons"></div>
		<div class="r1-box-line"></div>
	</div>

	<div class="r1-box4">
		<div class="r1-box-numbers">0</div>
		<div class="r1-box-text">Warnings</div>
		<div class="r1-box-icons"><span class="glyphicon glyphicon-alert" id="r1-icons"></div>
		<div class="r1-box-line"></div>
	</div>
</div>

<div class="row2">
	<!-- Line Chart: Time vs Number of Errors -->
	<div class="r2-box1">
    <div class="r2-box1-text">Weekly Errors</div>
		<div id="weekly-errors-chart"></div>
	</div> 

	<!-- Pie Chart: Top 5 Common Errors-->
	<div class="r2-box2">
    <div class="r2-box1-text">Top 5 Common Errors</div>
    <div id="top5-chart"></div>
  </div>

  <div class="r2-box3">
    <div id="updatetime">
      <br>
    </div>
  </div>

  <div id="r2-box4">
    <div class="date" id="month">
      {{ monthName }}
    </div>

    <div class="date" id="day">
      {{ day }}
    </div>
  
    <div class="date" id="year">
       {{ year }}
    </div>
  </div>

  </div> <!-- end row2 -->
</div>

{% endblock %}

{% block extra-scripts %} 

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {packages: ['corechart']});
  google.charts.setOnLoadCallback(drawWeeklyChart);
  google.charts.setOnLoadCallback(drawPieChart);

    function drawWeeklyChart() {
      var data = google.visualization.arrayToDataTable([
            ['Day', 'Number of Errors'],
            ['Sun',  54],
            ['Mon',  3],
            ['Tue',  13],
            ['Wed',  22],
            ['Thur',  5],
            ['Fri',  1],
            ['Sat',  0]
      ]);

      var options = {
            vAxis: { baselineColor: '#FFFFFF', textStyle:{color: 'white'}, gridlines: {color: 'transparent'}, viewWindow: {min: 0}},
            hAxis: {textStyle:{color: 'white'}},
            width: 750,
            height: 300,
            series: { 0: {color: 'white'}},
            lineWidth: 2,
            backgroundColor: 'none',
            curveType: 'function',
            fontName: 'Open Sans',
            fontSize: 20,
            fontColor: 'white',
            pointShape: 'circle',
            pointSize: 8,
            legend: { position: 'none' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('weekly-errors-chart'));
        chart.draw(data, options);
    } // end of draw weekly chart

    function drawPieChart() {

      var arr = {{top5List|safe}};

      var data;

      if (arr.length == 0) {
        data = google.visualization.arrayToDataTable([
          ['Error Message', 'Frequency'],
          ['No errors', 0]
          ]);
      }

      else if (arr.length == 1) {
        data = google.visualization.arrayToDataTable([
          ['Error Message', 'Frequency'],
          [arr[0][0], arr[0][1]],
          ]);
      }

      else if (arr.length == 2) {
        data = google.visualization.arrayToDataTable([
          ['Error Message', 'Frequency'],
          [arr[0][0], arr[0][1]],
          [arr[1][0], arr[1][1]],
          ]);
      }

      else if (arr.length == 3) {
        data = google.visualization.arrayToDataTable([
          ['Error Message', 'Frequency'],
          [arr[0][0], arr[0][1]],
          [arr[1][0], arr[1][1]],
          [arr[2][0], arr[2][1]],
          ]);
      }

      else if (arr.length == 4) {
        data = google.visualization.arrayToDataTable([
          ['Error Message', 'Frequency'],
          [arr[0][0], arr[0][1]],
          [arr[1][0], arr[1][1]],
          [arr[2][0], arr[2][1]],
          [arr[3][0], arr[3][1]],
          ]);
      }

      else if (arr.length == 5) {
        data = google.visualization.arrayToDataTable([
          ['Error Message', 'Frequency'],
          [arr[0][0], arr[0][1]],
          [arr[1][0], arr[1][1]],
          [arr[2][0], arr[2][1]],
          [arr[3][0], arr[3][1]],
          [arr[4][0], arr[4][1]],
          ]);
      }

        var options = {
          is3D: false,
          fontSize: 20,
          fontName: 'Open Sans',
          backgroundColor: 'none',
          tooltip: {showColorCode: true},
          legend: { position: 'right', alignment: 'center', textStyle: {color: 'white', fontSize: 20}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('top5-chart'));
        chart.draw(data, options);

    }

setInterval(function(){
    document.getElementById("updatetime").innerHTML = (new Date()).toLocaleTimeString();
}, 1000);

</script>
{% endblock %}
