{% extends "stationerry/base.html" %}

{% block extra-styles %} 
<link rel="stylesheet" href="/static/css/errors.css"> 
<link href='https://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
{% endblock %}

{% block link-errors %} <a class="link-errors selected" href="{% url 'errors' %}"><i class="fa fa-search"></i>Errors</a> {% endblock %}

{% block header %} Errors {% endblock %}

{% block content %}

<!-- div for the popup -->
<div id="abc">
    <!-- Contact Us Form -->
    <form id="filter-form" method="get" name="filters">

    <button type="button" class="btn btn-default btn-md" onclick ="div_hide()" id="close">
    <span class="glyphicon glyphicon-remove"></span>
    </button>

    <h3>Filters</h3>
      <div class="form-group">
        <div class="input-name">Search</div>
        <input id="search-string" name="fq" value="" class="form-control" placeholder="What are you looking for?" type="text">
      </div>

      <div class="form-group">
        <div class="input-name">Error Type</div>
        <input id="error-type" name="errorType" value="" class="form-control" placeholder="eg: NullException" type="text">
      </div>

      <!--div class="form-group">
        <div class="input-name">Error Message</div>
        <input id="app-msg" name="errorMsg" value="" class="form-control" placeholder="eg: syntax error at line 12" type="text">
      </div-->

      <div class="form-group">
        <div class="input-name">App Name</div>
        <input id="app-name" name="appName" value="" class="form-control" placeholder="eg: Facebook" type="text">
      </div>

      <div class="form-group">
        <div class="input-name">Version Name</div>
        <input id="app-version" name="appVersion" value="" class="form-control" placeholder="eg: 2.8" type="text">
      </div>

      <div class="form-group">
        <div class="input-name">OS Version</div>
        <input id="os" name="os" value="" class="form-control" placeholder="eg: 6.0" type="text">
      </div>

      <div class="form-group">
        <div class="input-name">Device Model</div>
        <input id="device-model" name="deviceModel" value="" class="form-control" placeholder="eg: Samsung Galaxy S7" type="text">
      </div>

      <!--div class="form-group">
        <div class="input-name">Status</div>
        <input id="status" name="status" value="" class="form-control" placeholder="eg: unresolved" type="text">
      </div-->

      <br><br>

      <div class="form-group">
        <input id="add-filter-btn" class="btn btn-primary" type="submit" value="Apply Filters">
      </div>
    </form>
</div>
<!-- Popup Div Ends Here -->

<div id="filter-div">
  <button class="btn btn-link" id="filter-button" onclick="div_show()"><span class="glyphicon glyphicon-filter"></span></button>
</div>

<div class="flexsearch">
  <div class="flexsearch--wrapper">
    <form class="flexsearch--form" action="{% url 'errors' %}" method="get">
      <div class="flexsearch--input-wrapper">
        <input class="flexsearch--input" type="search" name="q" placeholder="search for errors">
      </div>
      <input class="flexsearch--submit" type="submit" value="&#10140;"/>
    </form>
        </div>
</div>


{% if hideResults == False %}
<div class="result-box">

  {% if errorList|length == 0 %}
  <h2> No results for '{{searchQuery}}'. </h2>

  {% else %}
  <h2>Results for '{{searchQuery}}'</h2>
  

  <table class="table table-hover">
    <thead>
      <tr id="table-column-elements">
        <th>Time</th>
        <th>Error Type</th>
        <th>Error Message</th>
        <th>App Name</th>
        <th>App Version</th>
        <th>Device OS</th>
        <th>Device Model</th>
      </tr>
    </thead>

    <!-- http://stackoverflow.com/questions/7287027/displaying-a-table-in-django-from-database -->
    <tbody>

      {% for error in errorList %}
      <tr id="table-row-elements">
        <td>{{error.time}}</td>
        <td>{{error.error_type}}</td>
        <td>{{error.error_msg}}</td>
        <td>{{error.app_name}}</td>
        <td>{{error.app_version}}</td>
        <td>{{error.device_os}}</td>
        <td>{{error.device_model}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

  {% endif %}  
</div>

{% endif %}
</div>

{% endblock %} <!-- End of block content -->

{% block extra-scripts %}
<script>

//Function To Display Popup
function div_show() {
  document.getElementById('abc').style.display = "block";
}
//Function to Hide Popup
function div_hide(){
  document.getElementById('abc').style.display = "none";
}
</script>
{% endblock %} <!-- end of extra scripts -->
