{% extends "stationerry/base.html" %}

{% block extra-styles %} 
<link rel="stylesheet" href="/static/css/errors.css"> 
{% endblock %}

{% block link-errors %} <a class="link-errors selected" href="{% url 'errors' %}"><i class="fa fa-bar-chart"></i>Errors</a> {% endblock %}

{% block header %} Errors {% endblock %}

{% block content %}

<div class="flexsearch">
        <div class="flexsearch--wrapper">
            <form class="flexsearch--form" action="{% url 'errors' %}" method="get">
                <div class="flexsearch--input-wrapper">
                    <input class="flexsearch--input" type="search" name="q" placeholder="search for errors">
                </div>
                <input class="flexsearch--submit" type="submit" value="&#10140;"/>
            </form>
        </div>
</div>

{% if hideResults == False %}
<div class="result-box">
 <h2>Results for '{{searchQuery}}'</h2>
          
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Time</th>
        <th>Error Type</th>
        <th>Error Message</th>
        <th>Application</th>
        <th>OS</th>
        <th>Device Model</th>
        <th>Status</th>
      </tr>
    </thead>

    <!-- http://stackoverflow.com/questions/7287027/displaying-a-table-in-django-from-database -->
    <tbody>

      {% for error in errorList %}
      <tr>
        <td>{{error.title}}</td>
        <td>{{error.author}}</td>
        <td>{{error.year}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% endif %}
</div>
{% endblock %}