{% extends "stationerry/base.html" %}

{% block extra-styles %} 
<link rel="stylesheet" href="/static/css/errors.css"> 
{% endblock %}

{% block link-errors %} <a class="link-errors selected" href="{% url 'errors' %}"><i class="fa fa-bar-chart"></i>Errors</a> {% endblock %}

{% block header %} Errors {% endblock %}

{% block content %}

<div class="flexsearch">
        <div class="flexsearch--wrapper">
            <form class="flexsearch--form" action="#" method="post">
                <div class="flexsearch--input-wrapper">
                    <input class="flexsearch--input" type="search" placeholder="search for errors">
                </div>
                <input class="flexsearch--submit" type="submit" value="&#10140;"/>
            </form>
        </div>
</div>

<div class="result-box">
hi
</div>
{% endblock %}