{% extends "stationerry/base.html" %}

{% block extra-styles %} 
<link rel="stylesheet" href="/static/css/info.css"> 
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block header %} About Us {% endblock %}

{% block content %}

<div id="all-members-div">
	<h1>The Team</h1>
	<div class="team-member-div">
		Kevin Hsieh
	</div>
	<div class="team-member-div">
		Natalie Nguyen
	</div>
	<div class="team-member-div">
		Palak Parwal
	</div>
	<div class="team-member-div">
		Ryota Saito
	</div>
	<div class="team-member-div">
		Stephanie Tong
	</div>
	<div class="team-member-div">
		Michelle Wang
	</div>
</div>

<span class="glyphicon glyphicon-pencil" id="pencil"></span>
<i class="fa fa-eraser" id="eraser" aria-hidden="true"></i>
<span class="glyphicon glyphicon-scissors" id="scissors"></span>
<i class="fa fa-thumb-tack" id="tack" aria-hidden="true"></i>
<i class="fa fa-paperclip" id="paperclip" aria-hidden="true"></i>
<i class="fa fa-paperclip fa-rotate-180" id="paperclip2" aria-hidden="true"></i>
<img src="/static/images/ani-wail.gif" id="wailord">

{% endblock %}