{% load staticfiles %}

<!DOCTYPE html> 
<html>
    <head>
        <title>Stationerry</title>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!--link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"-->
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="shortcut icon" href="{%  static 'images/stapler.svg' %}">
    </head>

    <body>

	<div class="container-outside">

		<div class="container">

	      <div id="login">

	        <form method="post">

	        	<!-- https://docs.djangoproject.com/en/dev/ref/csrf/ -->
	        	{% csrf_token %}

				<fieldset class="clearfix">

		            <p><span class="fontawesome-user"></span><input type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
		            <p><span class="fontawesome-lock"></span><input type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
		            <p><input type="submit" value="Sign In"></p>

				</fieldset>

	        </form>

	        <p>
		        Not a member? <a href="{% url 'dashboard' %}" class="blue" id="signup">Sign up now</a><span class="fontawesome-arrow-right"></span>
		        <br><br>
		        <a href="{% url 'register' %}" class="blue" id="signup2">Register now (the real one)</a>
	        </p>

	      </div> <!-- end login -->

	    </div>

	</div> <!-- end container outside -->
    
        <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>	
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        
    </body>
</html>