{% load staticfiles %}

<!DOCTYPE html> 
<html>
    <head>
        <title>Stationerry</title>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!--link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"-->
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="shortcut icon" href="{%  static 'images/stapler.svg' %}">
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    </head>

    <body>

	<div class="container-outside">
		<div class="panel-title text-center">
	        <h1 class="title">Stationerry</h1>
			<hr></hr>
		</div>
		<div class="container">

	      <div id="login">

	      	<div id="login-error">
	      		{% if errMessage != None %}
	      		{{ errMessage }}
	      		{% endif %}
	      	</div>

	        <form method="post" action="{% url 'login' %}">

	        	<!-- https://docs.djangoproject.com/en/dev/ref/csrf/ -->
	        	{% csrf_token %}

				<fieldset class="clearfix">

		            <p><span class="fontawesome-user"></span><input type="text" name="username" value="" placeholder="Username"></p> <!-- JS because of IE support; better: placeholder="Username" -->
		            <p><span class="fontawesome-lock"></span><input type="password" name="password" value="" placeholder="Password"></p> <!-- JS because of IE support; better: placeholder="Password" -->
		            <p><input type="submit" value="Sign In"></p>

				</fieldset>

	        </form>

	        <p>
		        Not a member? <a href="{% url 'register' %}" class="blue" id="signup">Sign up now</a><span class="fontawesome-arrow-right"></span>
	        </p>

	      </div> <!-- end login -->

	    </div>

	</div> <!-- end container outside -->
    
        <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>	
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        
    </body>
</html>